@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Rubik', sans-serif;
}

:root {
    --bg-color: #b3b3b3;
    --button-bg-color: #1a8cff;
    --text-color: white;
    --theme-color:  #eda20c;
}




html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 80vh;
    padding: 20rem 5% 2rem;

}

span {
    color: var( --theme-color);
}



h2 {
    color: black;
}


/* ================company logo and name==================== */

.main-title {

    display: flex;
    top:0;
    left:0;
    justify-content: center;
    align-items: center;
    height: 13rem;
    width: 100%;
    background-color: #eda20c;
    position: fixed;
    /* box-shadow:0 0px 20px; */
    z-index: 1000;  /* tto ensure title stays on top*/
}

.title-text {
    flex: 60%;
    padding: 1rem;
    text-align: left;
    
}

.logo {
    flex: 40%;
    justify-content: left;
    align-items: left;

}
.logo img {
    border-radius: 50%;
    height:100px;
    width:100px;
    margin:8px;
   
}
h1 {

    font-size: 5rem;
    padding-left: 20px;
}


/* ========================navigation bar====================== */

.nav-logo{
    color:white;
    font-size: 15px;
    text-transform: uppercase;
   

}

.header {
    position: fixed;
    height:7vh;
    top:13rem;
    width: 100%;
    padding: 3rem 5%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
   

}

#checkbtn{
    
    float:right;
    /* margin-right: 70rem; */
    font-size: 30px;
    color: white;
    display: none;
}
#check{
    display: none;
}
#check:checked ~ .navbar ul{
    right:0%;
}

.navbar a.active{
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
    color: cyan;
}
.navbar ul {
    list-style: none;
    margin:0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    
}

.navbar ul li {
   
    position: relative;
    margin-right: 10px; 
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a , .login-button{
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    display: block;

}

.navbar ul li a:hover {
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
    color: cyan;

}



.pro-drop {
    display: none;
    top:100%;
    margin-top: 1px;
    opacity:0.9;
    position: absolute;
    width:max-content;
    z-index: 1000;

}
.pro-drop ul {
    flex-direction: column;
}
.pro-drop ul li a {
    padding: 10px;
    white-space: nowrap;
}




.navbar ul li:hover .pro-drop {
    display: block;
   
  
    /* /* width: 100%; */
    background-color: black; 
}

.navbar ul li:hover .pro-drop ul {
    display: block;
    /* margin: 0;
    overflow: auto; */

}

.navbar ul li:hover .pro-drop ul li {
    width: 100%;
    padding: 2px;
}

/* =======================login section======================= */
.login-button {
    background-color:var( --button-bg-color);
  }
  
  /* The popup form - hidden by default */
  .login-popup {
    display: none;
    position: absolute;
    top: 65px;
    right: 0px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 500px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: var(--button-bg-color);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  .form-container label,h1{
    color:black;
  }
  .form-container h1{
    font-size: 20px;
    text-align: center;
  }
.form-container label{
    font-size:15px;
}
.forgot-btn{
    font-size: 1.4rem;
    color:#162938;
    font-weight: 500;
    margin:-15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.forgot-btn a{
    color:#162938;
    text-decoration: none;
}
.forgot-btn:hover{
    text-decoration: underline;
}

.login-register{
    font-size: 1.5rem;
    color:#162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color:#162938;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;

}

.register-popup {
    
    position: absolute;
    top: 65px;
    right: -150px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

/* =========================hero section======================== */

/* .home{
    margin-top:18rem;
} */

.mySlides {
    object-fit: cover;
}



.update {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    height: 230px;
    width: 100%;
    background-color: WHITE;
    color: red;
    border: 2px solid black;
    overflow-y: scroll;


}

.slides p {
    font-size: 15px;
    color: red;
    text-align: left;
}

/* ========================service section========================= */

.services {
    background: var(--bg-color);
    text-align: center;
    font-size: 2.5rem;

}


.services h2 {
    margin-bottom: 1rem;

}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container,
.services-box {
    flex: 1 1 30rem;
    background: rgb(221, 236, 231);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-container,
.services-box:hover {
    border-color: white;
    transform: scale(1.02);
    box-shadow: 0 0 5px var( --theme-color), 0 0 5px #232626;

}



.services-box h3 {
    font-size: 2.6rem;
    color: rgb(41, 36, 36);
}

.services-box p {
    color: rgb(47, 31, 31);
    font-size: 2rem;
    /* margin: 1rem 0 3rem; */


}



/*===========================product section===================== */
.products {
    background: var(--bg-color);
}

.products h2 {
    margin-bottom:1rem;
}

.post{
    display:grid;
    /* grid-template-columns: repeat(3, 1fr);
    align-items: center; */
     grid-template-columns: repeat(auto-fit, minmax(380px, auto)); 
    justify-content: center;
    gap: 2.5em;

}
.post-box{
    background:  #999999;
    box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
    padding:15px;
    border-radius: 0.5rem;
}
.post-box:hover{
 opacity: 0.9;
}
.post-img{
    width:100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.category{
    font-size: 2.2rem;
    font-weight: 800;
    text-transform: uppercase;
    color:black;
}
.post-title{
    font-size: 2rem;
    font-weight: 600;
    color:#232626;
/* to title remain in 2 line */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.post-description{
   color:#232626;
   font-size: 1.8rem;
   line-height: 2rem;
   margin:5px 0 10px;
   /* to title remain in 2 line */
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
    
}

/* ====================product popup page==========================*/
.post-header{
    margin-top:7rem;
    width:100%;
    height:500px;
    background-color: rgb(43, 41, 41);
}
.post-container{
    max-width: 800px;
    margin:auto;
    width: 100%;

}
.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:18rem !important ;

}
.back-home{
    color: var(--button-bg-color);
    font-size: 1.8rem;
}

.header-title{
    width:90%;
    font-size: 3rem;
    color:black;
    text-align: center;
    margin-bottom: 1rem;
}
.header-img{
    width:90%;
    height:420px;
    object-fit: cover;
    object-position: center;
}
.post-content{
    margin-top: 20rem !important;
}
.sub-heading{
    font-size: 2.2rem;
}
.post-text{
    font-size: 1.8rem;
    line-height: 1.7rem;
    margin: 1.5rem 0;
    text-align: justify;
    color:#1e1c1c;
}


/* ===================contact section======================== */
.contact {
    background-image: url("../img/main/contactus.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}


.contact h2 {
    margin-bottom: 1rem;
}

.contact form {
    max-width: 80rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
    float: left
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: rgb(30, 20, 20);
    background: whitesmoke;
    border-radius: .8rem;
    margin: .7rem 0;

}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    width: 100%;
    margin-top: 2rem;
    cursor: pointer;
    background-color:var( --button-bg-color);
    font-size: 2rem;
    border: NONE;
    border-radius: 5px;
    padding: 12px 20px;
    color: white;
}

.contact form .btn:hover {
    background-color: #00b300;
}




.google-map {
    padding-bottom: 50%;
    position: relative;
    float: right;
}

.google-map iframe {

    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.form-container2 {
    width: 60%;
    padding: 20px;
    position: -webkit-sticky;
    top: 20px;
    left: 20px;
}

.map {
    width: 38%;
    height: 100vh;
    
    overflow: hidden;
    margin-left: 70%;
   
}

.map p {
    font-size:1.8rem;
    font-weight: 400;
    color:#181a18;
}

.map h5{
    color:black;
    font-size: 2rem;
}
.map .fa , .map .fa-solid{
    font-size: 25px;
    color:var(--theme-color);
    margin:10px;
    margin-right: 30px;
}
iframe{
    margin-top: 3rem;
}

.footer {
    font-size: 1.2rem;
    padding: 2rem;
    width: 100%;
    background-color: black;
    color: #eda20c;
    text-align: center;
}
.footer-text a{
    color:white;
}

.social{
    display:flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    margin:1rem;
}
.social .fa-brands{
    font-size: 2rem;
    color:#eda20c;
}
.social .fa-brands:hover{
    color:green;
    transition: 0.5s all linear;
}






/*==================== about section========================= */

.heading {
    text-align: center;
    font-size: 4.5rem;
    padding:2rem;
    margin:1rem;
}

.about-content h2 {
    text-align: center;
    line-height: 1.2;
}

.about-content h4{
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem 2rem 3rem 2rem;
    color:#a85432
}

.about-content p {
    text-align: center;
    font-size: 2rem;
    color:black;
    margin:2rem 8rem 2rem 8rem;
    font-family: cursive;
    font-style: italic;
    
}

#myBtn {
    display:flex;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:#eda20c;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

/* ========================media query============================ */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
     .map{
        margin-left: 62%;
    }
}

@media(max-width: 991px) {

    /* .navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
    } */


     #checkbtn{
        display:block;
    }


     .navbar ul{
        position: fixed;
        width:100%;
        height:75vh;
        background: black;
        margin-top:-4rem;
        top:200px;
        right:1000px;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        transition: left 0.3s ease;
        transition:0.5s;
        opacity:0.8;
    }  
    .navbar ul li{
        width: 100%;
        line-height:15px;
        margin:10px;  
        
    }

    .navbar ul li a{
       font-size: 12px;
       width:23%;
        
      
    }
    .pro-drop{
        display: none;
        margin-bottom: 10px;
  
    }
    .pro-drop:hover .pro-drop ul {
        display: block;
    }
   
     .pro-drop ul {
        display:flex;
        flex-direction: column;
        align-items:center;
        position: relative;
        min-width: auto;
        text-align: center;
        top:0;
        left:100%;
        background: black;
    }
        /* .pro-drop ul li{
            display: inline-block;
            width:100%;
            left:0;
        }   */

    section {
        padding: 10rem 3%;
    }

    .services {
        padding: 3rem;
    }

    .products {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }

   

    .main-title{
        height:13rem;
    
    }
    h1{
        font-size: 3rem;
        padding-left: 10px;
    } 
    .logo img{
        height:80px;
        width:80px;
    }
    
    
    
    .map{
        margin-left: 60%;
    }
}

@media (max-width: 768px) {
    h1{
        font-size: 3.5rem;
        padding-left: 5px;
    } 
   
    .services h2 {
        margin-bottom: 2rem;
    }


    .form-container2 {
        width: 100%;
    }

    .map {
        width: 100%;
        margin-left: 6%;
    }
}



@media (max-width: 480px) {

    h1{
        font-size: 3.5rem;
        padding-left: 10px;
    } 
    .heading {
        font-size: 3rem;
        padding:2rem;
        margin:1rem;
    }
    .services-box h3 {
        font-size: 2rem;
    }
    .services-box p {
        font-size: 1.8rem;
    }
    .form-container2 {
        width: 100%;
    }

    .map {
        width: 100%;
        margin-left: 5%;
    }
    .map p{
        font-size: 15px;
    }
}




@media (max-width: 450px) {

    .form-container2 .input-box input {
        width: 50%;
    }
     .map {
        width: 100%;
        margin-left: 1%;
    }
    .map p{
        font-size: 15px;
    }
}