@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Rubik', sans-serif;
}

:root {
    --bg-color: #DBA979;
    --snd-bg-color: #E7F0DC;
    --text-color: white;
    --main-color: #59B2F4;
}




html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--snd-bg-color);
    color: var(--text-color);
}

section {
    min-height: 80vh;
    padding: 2rem 5% 2rem;

}

span {
    color: var(--main-color);
}



h2 {
    color: black;
}



.main-title {

    display: flex;
    top:0;
    left:0;
    justify-content: center;
    align-items: center;
    height: 13rem;
    width: 100%;
    background-color: #627254;
    position: fixed;
    /* box-shadow:0 0px 20px; */
    z-index: 1000;  /* tto ensure title stays on top*/



}

.title-text {
    flex: 60%;
    padding: 1rem;
    text-align: left;
    
}

.logo {
    flex: 40%;
    justify-content: left;
    align-items: left;

}
.logo img {
    border-radius: 50%;
    height:100px;
    width:100px;
    margin:8px;
   
}
h1 {

    font-size: 5rem;
    padding-left: 20px;
}

#menu-icon {
    font-size: 3.6rem;
    color: white;
    display: none;

}

.header {
    position: fixed;
    /* box-shadow: 0 5px 10px black; */
    height:7vh;
    top:13rem;
    width: 100%;
    padding: 1rem 9%;
    background: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 999;

}

.navbar a.active{
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
    color: cyan;
}


.navbar ul {
    list-style: none;
    margin:0;
    padding: 0;
    display: flex;
  
}

.navbar ul li {
   
    position: relative;
    margin-right: 20px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    display: inline-block;

}

.navbar ul li a:hover {
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
    color: cyan;

}
.icon {
    display: none;
}


.pro-drop {
    display: none;
    margin-top: 1px;
}

.navbar ul li:hover .pro-drop {
    display: block;
    position: absolute;
    left: 0;
    width: 200px;
    background-color: black;
}

.navbar ul li:hover .pro-drop ul {
    display: block;
    margin: 0;
    overflow: auto;

}

.navbar ul li:hover .pro-drop ul li {
    width: 150px;
    padding: 2px;
}


.home{
    margin-top:18rem;
}

.mySlides {
    object-fit: cover;
}

.update {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    height: 230px;
    width: 100%;
    background-color: WHITE;
    color: red;
    border: 2px solid black;
    overflow-y: scroll;


}

.slides p {
    font-size: 15px;
    color: red;
    text-align: left;
}

.services {
    background-color: var(--snd-bg-color);
    text-align: center;
    font-size: 25px;

}


.services h2 {
    margin-bottom: 3rem;

}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container,
.services-box {
    flex: 1 1 30rem;
    background: rgb(221, 236, 231);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-container,
.services-box:hover {
    border-color: white;
    transform: scale(1.02);
    box-shadow: 0 0 5px #33ffff, 0 0 5px #232626;

}



.services-box h3 {
    font-size: 2.6rem;
    color: rgb(41, 36, 36);
}

.services-box p {
    color: rgb(47, 31, 31);
    font-size: 2rem;
    /* margin: 1rem 0 3rem; */


}




.products {
    background: var(--snd-bg-color);
}

.products h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .potfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
}



.portfolio-layer .portfolio-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(0);
    transition: .5s ease;
}



.portfolio-layer h4 {
    font-size: 3rem;
    color: black;

}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    color: #161815;
}


.contact {
    background-image: url("contact2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 100%;


}


.contact h2 {
    margin-bottom: 2rem;
}

.contact form {
    max-width: 80rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
    float: left
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: rgb(30, 20, 20);
    background: whitesmoke;
    border-radius: .8rem;
    margin: .7rem 0;

}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    width: 100%;
    margin-top: 2rem;
    cursor: pointer;
    background-color: #348ceb;
    font-size: 2rem;
    border: NONE;
    border-radius: 5px;
    padding: 12px 20px;
    color: white;
}

.contact form .btn:hover {
    background-color: rgb(15, 78, 28);
}




.google-map {
    padding-bottom: 50%;
    position: relative;
    float: right;
}

.google-map iframe {

    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}



.form-container {
    width: 60%;
    /* adjust width as needed */
    /* background-color: #fff; */
    padding: 20px;
    /* border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    position: -webkit-sticky;
    /* fix form position */
    top: 20px;
    left: 20px;
}

.map {
    width: 38%;
    /* adjust width as needed */
    height: 100vh;
    /* make map container full height */
    overflow: hidden;
    margin-left: 70%;
    /* adjust margin to match form width */
}

.map p {
    padding-bottom: 2rem;
    font-size:25px;
    font-weight: 700;
}

.map h4{
    color:#161815;
    font-size: 28px;
}

.footer {
    padding: 3rem;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

/* about section */

.heading {
    text-align: center;
    font-size: 4.5rem;
    padding:6rem;
    margin:3rem;
}

.about-content h2 {
    text-align: center;
    line-height: 1.2;
}

.about-content h3 {
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem 0 3rem;
    color:#a85432
}

.about-content p {
    text-align: center;
    font-size: 2rem;
    color:black;
    
}




/* media query */


@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media(max-width:991px) {


    header {
        padding: 20px;
    }

    section {
        padding: 10rem 3%;
    }

    .services {
        padding: 3rem;
    }

    .products {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: black;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        
    }
    .header{
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        margin-top: -3rem;
    }

    .main-title{
        height:10rem;
    
    }
    h1{
        font-size: 3rem;
        padding-left: 10px;
    } 
    .logo img{
        height:80px;
        width:80px;
    }
    
    
    .navbar ul li{
        width: 100%;
        
    }

    .navbar ul li a{
       font-size: 15px;
        
      
    }
    .pro-drop ul {
        position: relative;
        width:100%;
    }
    .pro-drop ul{
        background: black;
    }
    .pro-drop ul li{
        width:100%;
        left:0;

    } 
}

@media (max-width: 768px) {
    .icon {
        display: flex;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 999;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
        flex-direction: row-reverse;
    }

    .menu-icon {
        display: block;

    }

    .header{
        opacity:0.9;
    }

    .navbar ul {
        display: flex;
        position: relative;
        top: 10%;
        left: 0%;
        background-color: black;
        width: 40%;
        height: 100vh;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        transition: left 0.3s ease;
        z-index: 998;
        padding-left: 40px;
    }



    .navbar ul li a{
        padding: 8px;
        text-align: left;
        width: 100%;

      
    }


    .pro-drop{
        display: block;
        margin-bottom: 10px;
    }

    .pro-drop ul {
        position: static;
        display: none;
        background-color: transparent;
        box-shadow: none;
        min-width: auto;
        border-radius: 0;
        width: 100%;
        top: initial;
    }

    .pro-drop:hover .pro-drop ul {
        display: block;
    }


    .pro-drop ul li{
        padding: 10px 20px;
    }

    
    .pro-drop:hover {
        display: inline-block;
    }

   
    .services h2 {
        margin-bottom: 3rem;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .form-container {
        width: 100%;
    }

    .map {
        width: 100%;
        margin-left: 6%;
    }
}




@media (max-width:617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }

   
}

@media (max-width: 480px) {
    .form-container {
        width: 50%;
    }

    .map {
        width: 50%;
        margin-left: 50%;
    }
    .map p{
        font-size: 10px;
    }
}



@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .form-container .input-box input {
        width: 100%;
    }

}